<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">{{title}}</span>
            <div>
                <router-link :to="'/invoice/' + newItem" class="btn btn-primary btn-sm">Create</router-link>
            </div>
        </div>
        <div class="panel-body" v-if="hasData">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-for="item in thead">
                        <div>
                            <span>{{item.title}}</span>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <slot v-for="(item, index) in source" :item="item" :index="index"></slot>
                </tbody>
            </table>
        </div>
        <div v-else>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>You don't have any invoice. Please click create button</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <slot name="footer"></slot>
        </div>
    </div>
</template>
<script>
  import store from '../core/store'
  export default {
    props: ['source', 'thead', 'filter', 'create', 'title'],
    data() {
      return {
        invoices: [],
        shared: store
      }
    },
    computed: {
      hasData() {
        return this.source.length > 0
      },
      newItem() {
        return this.source.length ? this.source[this.source.length - 1]['id'] + 1 : 1
      }
    },
  }
</script>