<template>
    <basic-select :options="options"
                  :selected-option="selectedItem"
                  placeholder="select item"
                  @select="onSelect">
    </basic-select>
</template>

<script>
  import Vue from 'vue'
  import axios from 'axios'
  import { BasicSelect } from 'vue-search-select'

  export default {
    props: ['options', 'index', 'selectedItem'],
    data () {
      return {
        searchText: '', // If value is falsy, reset searchText & searchItem
        item: {}
      }
    },
    methods: {
      onSelect (item) {
        this.item = item
        item.curent = this.index
        console.log(item)
        this.$emit('update:product', item)
      },
      reset () {
        this.item = {}
      },
      selectOption () {
        this.item = this.options[0]
      }
    },
    components: {
      BasicSelect
    }
  }
</script>