<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            {{title}}
        </div>
        <div class="panel-body">
            <form class="form" @submit.prevent="save">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Customer</label>
                            <select class="form-control" v-model="form.customer_id" @change="changeInvoice">
                                <option>Select</option>
                                <option v-for="customer in customers" :value="customer.id">
                                    {{ customer.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in form.items">
                        <td>
                            <div class="selectWrap">
                                <select-product :options="selectProduct()"
                                                :selectedItem="{value: item['product_id'], text: item['name']}"
                                                @update:product="fillForm"
                                                :index="index"
                                                :data-id="item['id']"></select-product>
                            </div>
                        </td>
                        <td><input type="text" v-model="item.unit_price" class="form-control" disabled>
                        </td>
                        <td>
                            <input type="number"
                                   v-model.number="item.quantity"
                                   min="0"
                                   @input="quantity($event.target)"
                                   :data-id="item.id"
                                   class="form-control">
                        </td>
                        <td>
                            <span>{{shared.currency}}{{itemTotal[index]}}</span>
                        </td>
                        <td>
                            <button type="button" @click="removeProduct(index)">&times;</button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3">
                            <a @click.stop="addLine" class="btn btn-info">Add Item</a>
                        </td>
                        <td>Sub Total</td>
                        <td>{{shared.currency}}{{subTotal}}</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="no-border">
                        </td>
                        <td>Discount</td>
                        <td>
                            <input type="number"
                                   v-model.number="form.discount"
                                   min="0"
                                   max="100"
                                   @input="discount($event.target)"
                                   class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="no-border">
                        </td>
                        <td>Total</td>
                        <td>{{shared.currency}}{{total}}</td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</template>
<script>
    var data = {
      customer_id: null,
      discount: 0,
      total: 0,
      items: [{
        id: 1,
        product_id: 0,
        unit_price: 0,
        quantity: 1,
        total: 0
      }]
    }
  import round from 'lodash/round'
  import Vue from 'vue'
  import axios from 'axios'
  import SelectProduct from '../../components/SelectProduct.vue'
  import store from  '../../core/store'
    function filterNumber(value) {
      return value.replace(/[^\d]+/g,'')
    }
  export default {
    name: 'InvoiceForm',
    data() {
      return {
        currentInvoiceId: this.$route.params.id,
        form: data,
        errors: {},
        productsList: [],
        filteredProducts: [],
        addedProducts: [],
        customers: [],
        title: 'Create',
        initialize: '/api/invoices',
        redirect: '/invoice',
        store: '/api/invoices',
        method: 'post',
        shared: store
      }
    },
    beforeMount() {
      if(this.$route.meta.mode === 'edit') {
        this.title = 'Edit'
        this.initialize = '/api/invoices/' + this.currentInvoiceId
        this.store = '/api/invoices/' + this.currentInvoiceId
        this.method = 'put'
      }
      this.fetchData()
      this.fetchCustomers()
      this.fetchProducts()
      this.getProducts()
    },
    watch: {
      '$route': 'fetchData',
      total: function () {
        this.changeInvoice()
      }
    },
    computed: {
      totalItems() {
        return this.form.items.length
      },
      itemTotal() {
        return this.form.items.map(function(item) {
          return _.round(item.quantity * parseFloat(item.unit_price), 2).toFixed(2)
        });
      },
      subTotal() {
        return this.form.items.reduce(function(carry, item) {
          var temp = _.round(+carry + item.quantity * item.unit_price, 2) // convert carry to number
          return temp.toFixed(2)
        }, 0)
      },
      total() {
        var total_with_discount = _.round(this.subTotal * ((100 - this.form.discount) / 100), 2)
        this.form.total = total_with_discount
        return total_with_discount.toFixed(2)
      },
    },
    methods: {
      fillformData() {
        var vm = this
        var product = []
        this.addedProducts.forEach(function (value) {
          vm.productsList.filter(function (p, index) {
            if (p.id === value.product_id) {
              product.push({
                id: value['id'],
                name: vm.productsList[index]['name'],
                product_id: vm.productsList[index]['id'],
                quantity: value['quantity'],
                total: 0,
                unit_price: vm.productsList[index]['price']
              })
            }
          });
        });
        this.form['items'] = product
        return product
      },
      selectProduct() {
        var products = {}
        products = this.productsList.map(function (product) {
          return {
            value: product.id,
            text: product.name
          };
        });
        return products
      },
      addLine() {
        if(this.totalItems === 0) {
          this.save()
        }
        var lastItemIndex = this.form.items.length - 1,
            itemsLength = this.form.items.length,
            prveItemId = itemsLength ? this.form.items[lastItemIndex]['id'] + 1 : 1
        this.form.items.push({
          id: prveItemId,
          name: '',
          product_id: 0,
          unit_price: 0,
          quantity: 1,
          total: 0
        })
        this.addProduct()
      },
      fetchData() {
        var vm = this
        axios.get(this.initialize)
          .then(function(response) {
          })
          .catch(function(error) {
            console.log(error)
          })
      },
      fetchCustomers() {
        var vm = this
        axios.get('/api/customers')
          .then(function(response) {
            Vue.set(vm.$data, 'customers', response.data)
          })
          .catch(function(error) {
            console.log(error)
          })
      },
      fetchProducts() {
        var vm = this
        axios.get('/api/products')
          .then(function(response) {
            Vue.set(vm.$data, 'productsList', response.data)
          })
          .catch(function(error) {
            console.log(error)
          })
      },
      fillForm(val) {
        var current = val.curent + 1
        this.form.items[val.curent].name = val.text
        this.form.items[val.curent].product_id = val.value
        this.form.items[val.curent].unit_price = this.showPrice(val.value)
        this.changeProduct(current, val.value)
//        return this.selectedProduct = val;
      },
      quantity(field) {
        var field_value = _.toNumber(filterNumber(field.value))
        field.value = field_value
        this.changeQuantity(field_value, field.dataset.id)
      },
      discount(field) {
        var field_value = _.toNumber(filterNumber(field.value))
        if (field_value > field.max || field_value < field.min) {
          field_value = 0
        }
        field.value = field_value
        this.form.discount = field_value
      },
      save() {
        var vm = this
        axios[this.method](this.store, this.form)
          .then(function(response) {
            if(response.data) {
//              vm.$router.push(vm.redirect)
              vm.currentInvoiceId = response.data['id']
              vm.$router.push('/invoice/' + vm.currentInvoiceId)
            }
          })
          .catch(function(error) {
            Vue.set(vm.$data, 'errors', error.response.data)
          })
      },
      addProduct() {
        var vm = this
        axios.post(`/api/invoices/${this.currentInvoiceId}/items/`, {
          invoice_id: 2,
          product_id:2,
          quantity: 3
        })
          .then(function(response) {
            if(response.data) {
            }
          })
          .catch(function(error) {
            Vue.set(vm.$data, 'errors', error.response.data)
          })
      },
      changeProduct(id, value) {
        axios.put(`/api/invoices/${this.currentInvoiceId}/items/${id}`, {
          "product_id": value
        })
          .then(function(response) {
            if(response.data) {
            }
          })
          .catch(function(error) {
            Vue.set(vm.$data, 'errors', error.response.data)
          })
      },
      changeQuantity(val, id) {
        axios.put(`/api/invoices/${this.currentInvoiceId}/items/${id}`, {
          "quantity": val
        })
          .then(function(response) {
            if(response.data) {
            }
          })
          .catch(function(error) {
            Vue.set(vm.$data, 'errors', error.response.data)
          })
      },
      changeInvoice() {
        axios.put(`/api/invoices/${this.currentInvoiceId}`, {
          "customer_id": this.form.customer_id,
          "discount": this.form.discount,
          "total": this.form.total,
        })
          .then(function(response) {
            if(response.data) {
            }
          })
          .catch(function(error) {
            Vue.set(vm.$data, 'errors', error.response.data)
          })
      },
      getProducts() {
        let vm = this
        axios.get(`/api/invoices/${this.currentInvoiceId}/items`)
          .then(function(response) {
            if(response.data) {
              vm.$set(vm.$data, 'addedProducts', response.data)
              vm.fillformData()
            }
          })
          .catch(function(error) {
            Vue.set(vm.$data, 'errors', error.response.data)
          })
      },
      removeProduct(index) {
        let vm = this
        axios.delete(`/api/invoices/${this.currentInvoiceId}/items/${vm.form.items[index].id}`)
          .then(function(response) {
            if(response.data) {
              vm.$delete( vm.form.items, index )
              if(vm.totalItems === 0) {
                vm.removeIvoice(vm.currentInvoiceId)
              }
            }
          })
          .catch(function(error) {
            console.log(error)
          })
      },
      removeIvoice(index) {
        let vm = this
        axios.delete(`/api/invoices/${this.currentInvoiceId}`)
          .then(function(response) {
            if(response.data) {
//              vm.$delete( vm.form.items, index )
            }
          })
          .catch(function(error) {
            console.log(error)
          })
      },
      showPrice(val) {
        var product = {}
        product = this.productsList.filter(function (p) {
          if (!val) return
          return p.id === val;
        });
        if (_.isEmpty(product)) return
        return product[0].price
      }
    },
    components: {
      SelectProduct
    }
  }
</script>
<style scoped>
    .add_item {
        cursor: pointer;
    }
    .selectWrap {
        min-width: 200px;
    }
    .form-control {
        height: 38px;
        padding: 8px 12px;
    }
    .btn {
        min-width: 80px;
    }
    .no-border {
        border: none;
    }
</style>