<template>
    <data-viewer :source="invoices" :thead="thead" :create="create" :title="title">
        <template slot-scope="props">
            <tr>
                <td>{{props.item.id}}</td>
                <td>{{showCustomer(props.item.customer_id)}}</td>
                <td>{{props.item.discount}} %</td>
                <td>{{shared.currency}}{{props.item.total}} </td>
                <td>
                    <router-link :to="'/invoice/' + props.item.id + '/edit'" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-edit"></span></router-link>
                    <button class="btn btn-danger btn-sm" @click="remove(props.index)"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
            </tr>
        </template>
        <div slot="footer" class="flex">
            <span>Sum of Invoices</span>
            <span>{{shared.currency}}{{sumInvoices}}</span>
        </div>
    </data-viewer>
</template>
<script>
  import DataViewer from '../../components/DataViewer.vue'
  import store from  '../../core/store'
  import mixins from  '../../core/mixins'
  import axios from 'axios'

  export default {
    name: 'InvoiceIndex',
    mixins: [mixins],
    data() {
      return {
        title: 'Invoice List',
        source: '/api/invoice',
        create: '/invoice/create',
        thead: [
          {title: 'ID', key: 'id'},
          {title: 'Customer ID', key: 'customer'},
          {title: 'Discount', key: 'discount'},
          {title: 'Total', key: 'total'},
          {title: '', key: 'actions'},
        ],
        invoices: [],
        customers: [],
        shared: store
      }
    },
    beforeMount() {
      this.fetchData('customers')
      this.fetchData('invoices')
    },
    computed: {
      sumInvoices() {
        return this.invoices.reduce(function(carry, item) {
          var temp = _.round(+carry + item.total, 2) // convert carry to number
          return temp.toFixed(2)
        }, 0)
      },
    },
    methods: {
      remove(index) {
        let vm = this
        axios.delete('/api/invoices/' + vm.invoices[index].id)
                .then(function(response) {
                  if(response.data) {
                    vm.$delete( vm.invoices, index )
                  }
          })
          .catch(function(error) {
            console.log(error)
          })
      },
      showCustomer(val) {
        var customer = {}
          customer = this.customers.filter(function (p) {
            if (!val) return
            return p.id === val;
          });
        if (_.isEmpty(customer)) return 'Customer name is empty'
        return customer[0].name
      }
    },
    components: {
      DataViewer
    }
  }
</script>